<ng-container>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cep">CEP</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="CEP invalido">
            <input nz-input formControlName="cep" id="cep" (change)="pesquisarCep(validateForm.get('cep').value)" />
        </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logradouro" nzRequired>Logradouro</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="logradouro" formControlName="logradouro" id="log" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Informe o Logradouro
                        </ng-container>
                    </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logradouro_tipo" nzRequired>Tipo</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o tipo do Logradouro">
                <input nz-input type="text" id="logradouro_tipo" formControlName="logradouro_tipo" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="numero" nzRequired>
                <span>Número</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o numero da casa">
                <input nz-input id="numero" formControlName="numero" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="complemento" nzRequired>
                <span>Complemento</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o complemento">
                <input nz-input id="complemento" formControlName="complemento" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bairro" nzRequired>
                <span>Bairro</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o seu bairro">
                <input nz-input id="bairro" formControlName="bairro" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cidade" nzRequired>
                <span>cidade</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira a sua cidade">
                <input nz-input id="cidade" formControlName="cidade" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="estado" nzRequired>
                <span>Estado</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o seu estado">
                <input nz-input id="estado" formControlName="estado" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">Salvar</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>