<ng-container>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cep">CEP</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="CEP invalido">
            <input nz-input formControlName="cep" id="cep" />
        </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="log" nzRequired>Logradouro</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="log" formControlName="log" id="log" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Informe o Logradouro
                        </ng-container>
                    </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logType" nzRequired>Tipo</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o tipo do Logradouro">
                <input nz-input type="text" id="logType" formControlName="logType" (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="number" nzRequired>
                <span>Número</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o numero da casa">
                <input nz-input id="number" formControlName="number" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="complement" nzRequired>
                <span>Complemento</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o complemento">
                <input nz-input id="complement" formControlName="complement" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="neighbor" nzRequired>Bairro</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Informe seu bairro">
                <nz-select
                id="neighbor"
                formControlName="neighbor"
                nzPlaceHolder="selecione seu bairro"
                (ngModelChange)="genderChange($event)"
                >
                <nz-option nzValue="manaira" nzLabel="Manaira"></nz-option>
                <nz-option nzValue="torre" nzLabel="Torre"></nz-option>
                <nz-option nzValue="bancarios" nzLabel="Bancarios"></nz-option>
                <nz-option nzValue="mangabeira" nzLabel="Mangabeira"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="city" nzRequired>Cidade</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Informe sua Cidade">
                <nz-select
                id="city"
                formControlName="city"
                nzPlaceHolder="selecione sua Cidade"
                (ngModelChange)="genderChange($event)"
                >
                <nz-option nzValue="joão jessoa" nzLabel="João Pessoa"></nz-option>
                <nz-option nzValue="patos" nzLabel="Patos"></nz-option>
                <nz-option nzValue="cg" nzLabel="Campina Grande"></nz-option>
                <nz-option nzValue="guarabira" nzLabel="Guarabira"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="uf" nzRequired>UF</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Informe seu Estado">
                <nz-select
                id="uf"
                formControlName="uf"
                nzPlaceHolder="selecione seu Estado"
                (ngModelChange)="genderChange($event)"
                >
                <nz-option nzValue="paraiba" nzLabel="Paraíba"></nz-option>
                <nz-option nzValue="pernambuco" nzLabel="Pernambuco"></nz-option>
                <nz-option nzValue="alagoas" nzLabel="Alagoas"></nz-option>
                <nz-option nzValue="bahia" nzLabel="Bahia"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">Salvar</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-container>