<ng-container>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cep">CEP</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="CEP invalido">
            <input nz-input formControlName="cep" id="cep" disabled />
        </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logradouro" nzRequired>Logradouro</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="log" formControlName="logradouro" id="logradouro" disabled />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Informe o Logradouro
                        </ng-container>
                    </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logradouro_tipo" nzRequired>Tipo</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o tipo do Logradouro">
                <input nz-input type="text" id="logradouro_tipo" formControlName="logradouro_tipo" disabled />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="numero" nzRequired>
                <span>Número</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o numero da casa">
                <input nz-input id="numero" formControlName="numero" disabled />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="complemento" nzRequired>
                <span>Complemento</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o complemento">
                <input nz-input id="complemento" formControlName="complemento" disabled/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bairro" nzRequired>
                <span>Bairro</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o seu bairro">
                <input nz-input id="bairro" formControlName="bairro" disabled/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cidade" nzRequired>
                <span>Cidade</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira a sua cidade">
                <input nz-input id="cidade" formControlName="cidade" disabled/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="estado" nzRequired>
                <span>Estado</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira o seu estado">
                <input nz-input id="estado" formControlName="estado" disabled/>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div id="mapa" style="height: 400px; margin-top: 20px;"></div>
</ng-container>